
.notes-main {
  display: flex;
  height: 100%;
}

.notes-sidebar {
  width: 200px;
  padding: var(--padding);
  background: var(--white);
  display: flex;
  flex-direction: column;
}

.notes-sidebar-head {
  display: flex;
  border-bottom: 1px solid var(--frame-color-border);
  justify-content: space-between;
  padding-block-end: var(--padding);
  align-items: center;
}

.notes-sidebar-head-lbl {
  font-weight: 700;
}

.notes-file-btn-new {
  /* width: 100%; */
  background: var(--white-0);
  line-height: 32px;
  border-radius: var(--btn-radius);
  border-width: 1px;
  box-shadow: var(--btn-shadow);
  margin-block: calc(var(--padding) / 2);
}

.notes-file-btn-new:focus {
  outline: none;
}


.btn.notes-file-btn {
  line-height: 32px;
  border-width: 1px;
  margin-block: calc(var(--padding) / 2);
  font-weight: 400;
  box-shadow: none;
}

.active.notes-file-btn {
  background: var(--white-0);
  /* box-shadow: var(--btn-shadow); */
}

.notes-file-btn:hover {
  border-color: var(--white-border-hover);
}

.notes-containers {
  flex: 1;
  display: flex;
}

.notes-drag-btn {
  flex: 0 0 var(--padding);
  cursor: ew-resize;
}
 
.notes-input-container {
  flex-basis: 50%;
  background: lightblue;
  min-width: 0;
}

.notes-input {
  height: 100%;
  width: 100%;
  background: none;
  padding: var(--padding);
}

.notes-output-container {
  flex: 1;
  min-width: 0;
  background: lightpink;
}

.notes-output {
  padding: var(--padding);
}
